In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [1]:
5 + 9 # Operation
# Operators
    # +, - , * , / , %, **
    # = , +=, -=, *=, /=, **=
    # == , <, >, >=, <=, !=
    # and (&) or (|)
    
# 5, 9 # Oprands

14

In [3]:
#PEMDAS
9 + 8 * 2 / 2**2 + (7 -3) * 7
#9 + 8 * 2 / 2**2 + 4 * 7
#9 + 8 * 2 / 4 + 4 * 7
#9 + 8 * 2 / 4 + 4 * 7
#9 + 16 / 4 + 28
#9 + 4 + 28
#41

41.0

In [6]:
#PEMDAS
9 + 5 * 6 / 2**1 - (3 - 1) + 1
#9 + 5 * 6 / 2 ** 1 - 2 + 1
#9 + 5 * 6 / 2 - 2 + 1
#9 + 30 / 2 - 2 + 1
#9 + 15 - 2 + 1
#24 - 1
#23

23.0

In [7]:
#copy types
# Shallow Copy
# Deep Copy

a = 20
b = 20

print(a)
print(b)

print(id(a))
print(id(b))

20
20
140708521481632
140708521481632

In [9]:
#copy types
# Shallow Copy
# Deep Copy

a = 50
b = 50

print(a)
print(b)

print(id(a))
print(id(b))

50
50
140708521482592
140708521482592

In [10]:
a = list("pakistan")
b = a.copy()

print(a)
print(b)

print(id(a))
print(id(b))

['p', 'a', 'k', 'i', 's', 't', 'a', 'n']
['p', 'a', 'k', 'i', 's', 't', 'a', 'n']
2960359675720
2960358825352

In [12]:
a = list("muhammad shaheryar")
b = a.copy()

print(a)
print(b)

print(id(a))
print(id(b))

['m', 'u', 'h', 'a', 'm', 'm', 'a', 'd', ' ', 's', 'h', 'a', 'h', 'e', 'r', 'y', 'a', 'r']
['m', 'u', 'h', 'a', 'm', 'm', 'a', 'd', ' ', 's', 'h', 'a', 'h', 'e', 'r', 'y', 'a', 'r']
2960359443080
2960359399112

In [13]:
a = 20
print(a)
print(type(a))

20
<class 'int'>

In [15]:
k = 100
print(k)
print(type(k))

100
<class 'int'>

In [16]:
a = 11 // 3 # floor Division
print(a)
print(type(a))

3
<class 'int'>

In [17]:
k= 12 // 5 #this is floor division
print(k)
print(type(k))

2
<class 'int'>

In [18]:
a = 20.8
print(a)
print(type(a))

20.8
<class 'float'>

In [20]:
k = 55.5
print(k)
print(type(k))

55.5
<class 'float'>

In [21]:
a = 8 / 8
print(a)
print(type(a))

1.0
<class 'float'>

In [24]:
k = 2 / 1
print (k)
print(type(k))

2.0
<class 'float'>

In [26]:
a = True
print(a)
print(type(a))

True
<class 'bool'>

In [31]:
a = True
print(a)
print(type(a))

True
<class 'bool'>

In [32]:
a = False
print(a)
print(type(a))

False
<class 'bool'>

In [34]:
k=False
print(k)
print(type(k))

False
<class 'bool'>

In [36]:
a = "20"
print(a)
print(type(a))

20
<class 'str'>

In [37]:
a = "50"
print(a)
print(type(a))

50
<class 'str'>

In [39]:
a = '1'
print(a)
print(type(a))

1
<class 'str'>

In [40]:
a = '6'
print(a)
print(type(a))

6
<class 'str'>

In [41]:
a = """20.7"""
print(a)
print(type(a))

20.7
<class 'str'>

In [42]:
a = """31.5"""
print(a)
print(type(a))

31.5
<class 'str'>

In [43]:
a = '''78'''
print(a)
print(type(a))

78
<class 'str'>

In [44]:
a='''41'''
print(a)
print(type(a))

41
<class 'str'>

In [19]:
#Index    0       1       2      3     4
names = ["Ali","Hamza","Junaid",200, True] #List[Element,Element]
#Index     -5    -4      -3      -2   -1

print(names)
print(names[-1])   #list[indexNumber]
print(type(names))

['Ali', 'Hamza', 'Junaid', 200, True]
True
<class 'list'>

In [45]:
#Index    0       1       2      3     4
names = ("Ali","Hamza","Junaid",200, True) #tuple[Element,Element]
#Index     -5    -4      -3      -2   -1

print(names)
print(names[-1])   #list[indexNumber]
print(type(names))

('Ali', 'Hamza', 'Junaid', 200, True)
True
<class 'tuple'>

In [46]:
names= ("sameed","shaki",600,True)
print(names)
print(names[-2])
print(type(names))

('sameed', 'shaki', 600, True)
600
<class 'tuple'>

In [47]:
names = {"Ali","Hamza","Ali","Hamza","Rashid"} #set
names

{'Ali', 'Hamza', 'Rashid'}

In [49]:
names={"sherry", "shaheryar","sherry", "shaheryar","asfandyar"} #set
names

{'asfandyar', 'shaheryar', 'sherry'}

In [50]:
names = {"Ali","Hamza","Ali","Hamza","Rashid"} #set
names[0]

TypeError: 'set' object is not subscriptable

In [51]:
names= {"sherry", "shaheryar","sherry", "shaheryar"}
names[2]

TypeError: 'set' object is not subscriptable

In [ ]:
# Type Casting
names = {"Ali","Hamza","Ali","Hamza","Rashid"} #set
names = list(names)
names[0]

In [5]:
#Type casting
names = {"sherry","shaheryar","sherry","shaheryar","Ali"} #set
names= list(names)
names[-2]

'sherry'

In [1]:
#Index    0       1       2      3     4
names = ("Ali","Hamza","Junaid",200, True) #tuple[Element,Element]
#Index     -5    -4      -3      -2   -1

print(names)
print(names[-1])   #list[indexNumber]
print(type(names))

('Ali', 'Hamza', 'Junaid', 200, True)
True
<class 'tuple'>

In [2]:
names = ("ali","shahbaz","shahwez",400,True)
print(names[-1]) #List index number 
print(type(names))

True
<class 'tuple'>

In [1]:
# {
# key0: value1,
# key1: value1, 
# key2:value2
# }

# key hashable data type
# value any data types


data = {
    "name":"Muhammad Qasim",
    "fname":"Muhammad Aslam",
    "fee":500,
    "education":['Matric',"Intermediate","BSCS","DSCS"],
    5: "Pakistan",
    'a' : 2000
}

print(data[5])

Pakistan

In [17]:
# {
# key0: value1,
# key1: value1, 
# key2:value2
# }

# key hashable data type
# value any data types


data = {
    "Name":"Muhammad Shaheryar",
    "Fname":"Muhammad Aslam",
    "Fee":1000,
    "Education":['Matric',"Intermediate","BSCS"],
    5: "Pakistan_Zindabad",
    'a' : 20000
}

print(data[5])

Pakistan_Zindabad

In [18]:
a = 20
print(type(a))
a = float(a)
print(type(a))
a = str(a)
print(type(a))
a = list(a)
print(type(a))
a = set(a)
print(type(a))
a = bool(a)
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'set'>
<class 'bool'>

In [19]:
k = 40
print(type(k))
k = float(k)
print(type(k))
k = str(k)
k = list(k)
print(type(k))
k = set(k)
print(type(k))
k = bool(k)
print(type(k))

<class 'int'>
<class 'float'>
<class 'list'>
<class 'set'>
<class 'bool'>

In [1]:
a = 28.9
int(a)

28

In [4]:
k = 31.5
int(k)

31

# Slicing

#list[start:end:step]
#tuple[start:end:step]
#string[start:end:step]
#start ->Included
#end   ->Excluded
#Step  ->Sequance

In [1]:
a = "Pakistan zinda bad"
print(a[::])
print(a[::-1])
print(a[1:3:])
print(a[0:9:] + a[-3:])

Pakistan zinda bad
dab adniz natsikaP
ak
Pakistan bad

In [3]:
a = "muhammad shaheryar aslam"
print(a[::])
print(a[::-2])
print(a[1:3:])
print(a[0:9:] + a[-3:])

muhammad shaheryar aslam
mlaryeasdmau
uh
muhammad lam

# String Data types and Methods

help(str)
str?
str??
?str
??str

In [4]:
help(str)
str?
str??
?str
??str

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Use keyword.iskeyword() to test for reserved identifiers such as "def" and
 |      "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace remove.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(x, y=None, z=None, /)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [5]:
a = "MUhammAd Qasim"
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [6]:
a = "muhammad shaheryar"
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [7]:
a = "MUHAmmAD QaSIM"
print(a.upper()) # Inline Operation
print(a)

MUHAMMAD QASIM
MUHAmmAD QaSIM

In [8]:
a = "muhammad shaheryar"
print(a.upper()) # Inline Operation
print(a)

MUHAMMAD SHAHERYAR
muhammad shaheryar

In [9]:
a = "MUHAmmAD QaSIM"
a = a.upper() # In Memory Operation

print(a)

MUHAMMAD QASIM

In [10]:
a = "muhammad shaheryar"
a = a.upper() # In Memory Operation

print(a)

MUHAMMAD SHAHERYAR

In [11]:
a = "MUHmMaD QaSIM"
print(a.title())
print(a)

Muhmmad Qasim
MUHmMaD QaSIM

In [12]:
a = "muhammad shaheryar"
print(a.title())
print(a)

Muhammad Shaheryar
muhammad shaheryar

In [13]:
a = "MUHmMaD QaSIM"
print(a.capitalize())
print(a)

Muhmmad qasim
MUHmMaD QaSIM

In [14]:
a = "muhammad shaheryar"
print(a.capitalize())
print(a)

Muhammad shaheryar
muhammad shaheryar

In [15]:
a = "        Muhammad            Qasim     "
print(a)

        Muhammad            Qasim

In [16]:
a = "        Muhammad            shaheryar     "
print(a)

        Muhammad            shaheryar

In [17]:
a = "        Muhammad            Qasim     "
print(len(a))
print(a.lstrip())
print(len(a.lstrip()))
print(a)

38
Muhammad            Qasim
30
        Muhammad            Qasim

In [18]:
a = "        Muhammad            shaheryar     "
print(len(a))
print(a.lstrip())
print(len(a.lstrip()))
print(a)

42
Muhammad            shaheryar
34
        Muhammad            shaheryar

In [19]:
a = "        Muhammad            Qasim     "
print(len(a))
print(a.rstrip())
print(len(a.rstrip()))
print(a)

38
        Muhammad            Qasim
33
        Muhammad            Qasim

In [20]:
a = "        Muhammad            shaheryar     "
print(len(a))
print(a.rstrip())
print(len(a.rstrip()))
print(a)

42
        Muhammad            shaheryar
37
        Muhammad            shaheryar

In [21]:
a = "        Muhammad            Qasim     "
print(len(a))
print(a.strip())
print(len(a.strip()))
print(a)

38
Muhammad            Qasim
25
        Muhammad            Qasim

In [22]:
a = "        Muhammad            shaheryar     "
print(len(a))
print(a.strip())
print(len(a.strip()))
print(a)

42
Muhammad            shaheryar
29
        Muhammad            shaheryar

In [23]:
a = "        Muhammad            Qasim     "
b = a.split()
b

['Muhammad', 'Qasim']

In [24]:
a = "        Muhammad            shaheryar     "
b = a.split()
b

['Muhammad', 'shaheryar']

In [25]:
" ".join(b)

'Muhammad shaheryar'

In [27]:
"=====".join(b)

'Muhammad=====shaheryar'

In [28]:
a = "kjaskdfjaldjf 39u23j2 l3jj2 3k-323/32*2"

"".join([i for i in a if str.isnumeric(i)])

'39232323323322'

In [29]:
a = "kjaskdfjaldjf 39u23j2 l3jj2 3d8678*3/12*34*4"

"".join([i for i in a if str.isnumeric(i)])

'392323238678312344'

In [30]:
a = "we are pakistan we love our country!"
a.find("pakistan")

7

In [32]:
a = "we are pakistan Army we love our Army!"
a.find("Army")

16

In [33]:
a = "we are pakistan we love our country!"
a.index("pakistan")

7

In [35]:
a = "we are pakistan Army we love our Army men!"
a.index("Army")

16

In [36]:
b = input("Search:")
print(a[a.index(b): a.index(b)+len(b)])
a[a.index(b): ]

Search:hello

ValueError: substring not found

In [ ]:
b = input("hello:")
print(a[a.index(b): a.index(b)+len(b)])
a[a.index(b): ]

In [17]:
card = """
PIAIC ISLAMABAD
Bahria University 
Name: Muhammad Qasim
Father's Name: Muhammad Asalam"""
"""card = 
PIAIC ISLAMABAD
Bahria University 
Name: Muhammad Shaheryar
Father's Name: Muhammad Aslam


print(card)m
"""

print(card)

PIAIC ISLAMABAD
Bahria University
Name: Muhammad Qasim
Father's Name: Muhammad Asalacard =
PIAIC ISLAMABAD
Bahria University
Name: Muhammad Shaheryar
Father's Name: Muhammad Aslam


print(card)m

In [14]:
card = """
PIAIC ISLAMABAD
Bahria University 
Name: Muhammad Shaheryar
Father's Name: Muhammad Aslam
"""

print(card)

PIAIC ISLAMABAD
Bahria University
Name: Muhammad Shaheryar
Father's Name: Muhammad Aslam

In [13]:
student_name = "Muhammad shaheryar"
f_name = "Muhammad Aslam"

card = """
PIAIC ISLAMABAD
Bahria University 
Name: 
Father's Name: 
"""

print(card)

PIAIC ISLAMABAD
Bahria University
Name:
Father's Name:

In [12]:
student_name = "Muhammad Qasim"
f_name = "Muhammad Asalam"
fee = 1000

card = """
PIAIC ISLAMABAD
Bahria University 
Name: %s
Father's Name: %s
Fee : %d
"""

print(card%(student_name,f_name, fee))

PIAIC ISLAMABAD
Bahria University
Name: Muhammad Qasim
Father's Name: Muhammad Asalam
Fee : 1000

In [11]:
student_name = "Muhammad shaheryar"
father_name = "Muhammad Aslam"
fee = 1000

card = """
PIAIC ISLAMABAD
Bahria University 
Name: %s
Father's Name: %s
Total_Fee : %d
"""

print(card%(student_name,father_name, Total_fee))

PIAIC ISLAMABAD
Bahria University
Name: Muhammad shaheryar
Father's Name: Muhammad Aslam
Total_Fee : 3000

In [10]:
student_name = input("Name:")
f_name = input("Father's name")
fee = int(input("Fee"))

card = """
PIAIC ISLAMABAD
Bahria University 
Name: %s
Father's Name: %s
Fee : %d
"""

print(card%(student_name,f_name, fee))

Name:muhammad shaheryar
Father's namemuhammad aslam
Fee5000

PIAIC ISLAMABAD
Bahria University
Name: muhammad shaheryar
Father's Name: muhammad aslam
Fee : 5000

In [1]:
student_name = input("Name:")
father_name = input("Father's name")
Total_fee = int(input("Fee"))

card = """
PIAIC ISLAMABAD
Bahria University 
Name: %s
Father's Name:      %s
Fee : %d
"""
print(card%(student_name,father_name, Total_fee))

Name:muhammad shaheryarr
Father's namemuhammad aslam
Fee6000

PIAIC ISLAMABAD
Bahria University
Name: muhammad shaheryarr
Father's Name:      muhammad aslam
Fee : 6000

In [8]:
name = "Muhammad shaheryar"
fname = "Muhammad Aslam"
fee = 3000

a=f"""
Bahria University Islamabad
Student Name: {name}
Father's Name: {fname}
Fee: {fee}
"""
print(a)

Bahria University Islamabad
Student Name: Muhammad shaheryar
Father's Name: Muhammad Aslam
Fee: 3000

In [7]:
name = "Muhammad Qasim"
fname = "Muhammad Aslam"
fee = 5000

a="""
Bahria University Islamabad
Student Name: {}
Father's Name: {}
Fee: {}
"""
print(a.format(name, fname,fee))

Bahria University Islamabad
Student Name: Muhammad Qasim
Father's Name: Muhammad Aslam
Fee: 5000

In [6]:
name = "Muhammad Qasim"
fname = "Muhammad Aslam"
fee = 5000

a="""
Bahria University Islamabad
Student Name: {1}
Father's Name: {0}
Fee: {2}
"""
print(a.format(name, fname,fee))

Bahria University Islamabad
Student Name: Muhammad Aslam
Father's Name: Muhammad Qasim
Fee: 5000

In [5]:
name = "muhammad shaheryar"
fname = "muhammad aslam"
fee_structure = 3000
a="""
Bahria university islamabad 
student name: {1}
father's name: {0}
fee_structure: {2}
"""
print(a.format(name, fname, fee_structure))

Bahria university islamabad
student name: muhammad aslam
father's name: muhammad shaheryar
fee_structure: 3000

In [77]:
name = "Muhammad Qasim"
fname = "Muhammad Aslam"
fee = 5000

a="""
Bahria University Islamabad
Student Name: {sn}
Father's Name: {fn}
Fee: {f}
"""
print(a.format(f=fee, fn=fname, sn=name))

Bahria University Islamabad
Student Name: Muhammad Qasim
Father's Name: Muhammad Aslam
Fee: 5000

In [1]:
"1" + '1'

'11'

In [2]:
"23"+'2'

'232'

In [3]:
int("1") + int('1')

2

In [4]:
int("22") + int('12')

34

In [2]:
int("1") + "8"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [3]:
int("5")+ "3"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [5]:
"8" * 2

'88'

In [6]:
"5"*3

'555'

In [7]:
2*2

4

In [9]:
4*43

172

In [10]:
"Pak" * 2

'PakPak'

In [11]:
"sherry"*2

'sherrysherry'

In [12]:
name = "Muhammad Qasim"
fname = "Muhammad Aslam"
fee = 5000



print("Bahria University Islamabad \nStudent Name" \
+ name + "\nFather's Name \n"+fname+"\nFee: "+str(fee))

Bahria University Islamabad
Student NameMuhammad Qasim
Father's Name
Muhammad Aslam
Fee: 5000

In [14]:
name = "    Muhammad shaheryar"
fname = "   Muhammad Aslam"
fee = 35000



print("Bahria University Islamabad \nStudent Name" \
+ name + "\nFather's Name \n"+fname+"\nFee: "+str(fee))

Bahria University Islamabad
Student Name    Muhammad shaheryar
Father's Name
   Muhammad Aslam
Fee: 35000

In [15]:
8 * 7 + 9 / 2 ** 20 // 2

56.0

In [16]:
4 * 14 + 18 / 4 ** 200 // 5

56.0

In [17]:
8 * \
7 + \
9 / \
2 ** \
20 // \
2

56.0

In [18]:
7 * \
6 + \
5 / \
4 ** \
4 // \
2

42.0

In [19]:
names = ["Qasim","Asif","Hamza"]


print(names[0], names[1], names[2])
print(names)
print(*names)

Qasim Asif Hamza
['Qasim', 'Asif', 'Hamza']
Qasim Asif Hamza

In [20]:
names = ["sherry","ali","haris"]


print(names[0], names[1], names[2])
print(names)
print(*names)

sherry ali haris
['sherry', 'ali', 'haris']
sherry ali haris

In [21]:
name, fname, fee = "Qasim", "Aslam", 2000
print(name, fname,fee)

Qasim Aslam 2000

In [23]:
name, fname, fee = "shaheryar", "Aslam", 5000
print(name, fname,fee)

shaheryar Aslam 5000

In [26]:
a=[ "Qasim", "Aslam", 2000 ]
name = a[0],
fname = a[1]
fee = a[2]
print(name, fname,fee)

('Qasim',) Aslam 2000

In [25]:
k=["shaheryar", "Aslam", 3000]
name = k[0],
fname = k[1]
fee = k[2]
print(name, fname,fee)

('shaheryar',) Aslam 3000

In [27]:
a=["Qasim", "Aslam", 2000]
name, fname, fee = a
print(name, fname,fee)

Qasim Aslam 2000

In [28]:
k=["Shaheryar", "Aslam", 3000]
name, fname, fee = k
print(name, fname,fee)

Shaheryar Aslam 3000

# Assignment
-